.MoviesList {
  display: grid;
  /* justify-items: center; */
  gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.MoviesListItem {
  font-size: large;
}

.MoviesListLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.MovieId {
  font-size: 10px;
}
