.App-header {
  padding: 20px;
  background-color: #282c34;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  color: snow;
  background-color: rgba(97, 28, 209, 0.6);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: royalblue;
}
